@import "./Bulma.scss";

.start {
    @extend .hero;
    @extend .is-fullheight;

}

.tabletop {
    @extend .hero;
    @extend .is-fullheight;

    // background-image: url('/background.jpg');
    background-size: cover;
    color: white;
}

.side {
    @extend .column;
    @extend .is-6;
    @extend .panel;
    @extend .is-paddingless;

     background-color: white;
     color: grey;
}

.mc-main {
    border-radius: $radius;
}